/* Contact Page Styles */
#aa-contact {
    background-color: #f0f0f0;
}

#aa-contact h2 {
    color: #666;
}

#aa-contact form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
