/* Features Page Styles */
#aa-features {
    background-color: #ffffff;
}

#aa-features h2 {
    color: #222;
}

#aa-features ul {
    list-style-type: circle;
    padding-left: 20px;
}

#aa-features ul li {
    margin-bottom: 10px;
}
