/* Home Page Styles */
#hero {
    background: url(images/fotojakryseore.jpg) no-repeat center center/cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

#hero h2 {
    font-size: 3em;
    animation: slideUp 1.5s ease-out;
}

/* Slide Up Animation */
@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
