/* Models Page Styles */
#aa-models {
    background-color: #f0f0f0;
}

#aa-models h2 {
    color: #111;
}

#aa-models ul {
    list-style-type: square;
    padding-left: 20px;
}

#aa-models ul li {
    margin-bottom: 10px;
}

.aa-car-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
}

