/* Performance Page Styles */
#aa-performance {
    background-color: #fff;
}

#aa-performance h2 {
    color: #444;
}

#aa-performance ul {
    list-style-type: none;
    padding-left: 0;
}

#aa-performance ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

#aa-performance ul li:before {
    content: "•";
    color: #f39c12;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
